header{
    text-align:center;
}
header img{
    height: 150px;
    background-color: aliceblue;
}
nav a{
    font-family: Audiowide;
    background-color: rgba(252, 248, 2, 0.432);
    border-radius: 20px 0px 20px 0px;
    padding: 5px 15px;
    margin: 50px;
    color: rgb(146, 71, 0);
    text-decoration: none;
    border-radius: 20px 0px 20px 0px;
    transition: 1s;
}
nav a:hover{
    color: rgba(255, 217, 0, 0.822);
    background-color: rgb(172, 72, 6);
    border-radius: 20px 0px 20px 0px;
    box-shadow: 5px 5px 5px -2px rgba(219, 180, 3, 0.63);
    padding: 7px 20px;
    transition: 0,5s;
}
home{
    height: 100px;
}